/*
  Checking out my source?  
  Why not just go here:
  https://github.com/shertle

  Your welcome.
*/

html, body {
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 40px;
    padding-bottom: 20px;
}

.nav-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    width: 100%;
    height: 40px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ffffff;
}

.nav-bar ul {
    text-align: center;

    /* Override User Agent Stylesheet and align elements center */
    -webkit-padding-start: 0;
}

/*
.nav-opac {
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ffffff;
}
*/

/* nav-bar items */
.menu-items li {
    font-size: 1.3em;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-items a { 
    color: #ffffff;
    text-decoration: none;
}

.menu-items li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.intro {
    width: 100%;
    height: 100%;
    display: table; 
    background: url('img/earthview.jpg') no-repeat scroll;
    /* Photo Credits
     * http://www.youredm.com/2014/10/23/nasa-releases-library-sounds-space-free-downloads/
     */
    background-position: center;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    font-size: 5.5em;
    font-weight: 100;
    text-align: center;
    margin: 10% auto;
}

.summary {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

#link-margin {
    width: 100%;
    height: 10%;
}

.summary h2 {
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    margin-bottom: 2%;

    /* Remove user agent margins */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.summary-content {
    height: 400px;
}

#s1 .summary-content .summary-left {
    display: inline-block;
    height: 100%;
    width: 35%;
    vertical-align: top;
}

#s1 .summary-content .summary-right {
    display: inline-block;
    height: 100%;
    width: 35%;
}

#s1 .summary-left p {
    padding-top: 25%;
    display: inline-block;
    text-transform: none;
    font-size: 1.25em;
    text-align: center;
    vertical-align: middle;

    /* Remove user agent margins */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

#profile-pic {
    display: inline-block;
    max-height: 400px;
    max-width: 100%
}

.contact {
    display: table; 
    background: url('img/sfskyline.jpg') no-repeat scroll;
    /* Photo Credits
     * http://wallpapercave.com/w/H9fPbyM
     */
    background-position: center;
    float: right;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
}

.contact h2 {
    margin-top: 70px;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 200;
}

.contact-info {
    position: absolute;
    top: 265%;
    width: 100%;
    text-align: center;
}

.contact-img {
    margin: 20px;
    padding: 20px;
    height: 90px;
    width: 90px;
    border-radius: 10px;
    max-width: 100%
}

.contact-img:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Remove blue and purple link underline */
a:-webkit-any-link{
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}

a:focus { 
    text-decoration: none; 
}

@media all and (max-width: 950px) {

    .summary h2 {
        margin-bottom: 5%;
    }

    #s1 .summary-content .summary-left {
        margin-right: 2%;
    }

    #s1 .summary-content .summary-right {
        margin-left: 2%;
    }
}

@media all and (max-width: 850px) {
    
    h1 {
        font-size: 4.7em;
    }
}

@media all and (max-width: 800px) {
    
    h1 {
        font-size: 4.3em;
    }

    .summary {
        height: 120%;
    }

    #s1 .summary-left p {
        padding-top: 0;
        width: 60%;
    }

    #s1 .summary-content .summary-left {
        display: block;
        text-align: center;
        width: 100%;
        height: 35%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #s1 .summary-content .summary-right {
        display: block;
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #profile-pic {
        display: inline-block;
        max-height: 350px;
        max-width: 100%
    }

    .contact-info {
        top: 285%;
    }
}


@media all and (max-width: 675px) {

    h1 {
        font-size: 4em;
        margin-top: 15%;
    }

    #s1 .summary-content .summary-left {
        height: 30%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #s1 .summary-left p  {
        width: 75%;
    }

    .contact-img {
        padding: 0;
        margin: 30px;
        height: 100px;
        width: 100px;
    }

    .contact-img:hover {
        background-color: none;
    }
}

@media all and (max-width: 550px) {

    #s1 .summary-content .summary-left {
        height: 35%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #s1 .summary-left p  {
        width: 80%;
    }

    .contact-img {
        margin: 20px;
        height: 90px;
        width: 90px;
    }
}

@media all and (max-width: 450px) {

    h1 {
        font-size: 3em;
        margin-top: 30%;
    }

    #s1 .summary-content .summary-left {
        height: 40%;
    }

    #s1 .summary-left p  {
        width: 90%;
    }

    .contact-img {
        margin: 4%;
        height: 75px;
        width: 75px;
    }
}

@media all and (max-width: 450px) and (max-height: 500px) {

    h1 {
        font-size: 3em;
        margin-top: 20%;
    }

    .summary {
        height: 140%;
    }

    .summary h2 {
        font-size: 2.3em;
    }

    .contact h2 {
        font-size: 2.3em;
        margin-top: 20%;
    }

    .contact-info {
        top: 305%;
    }
}



