/*
  Checking out my source?  
  Why not just go here:
  https://github.com/shertle

  Your welcome.
*/

html, body {
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 40px;
    padding-bottom: 20px;
}

.nav-bar ul {
    text-align: center;
    /* Override User Agent Stylesheet and align elements center */
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-padding-start: 0;
}

.nav-opac {
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ffffff;
}

/* nav-bar items */
.menu-items li {
    font-size: 1.3em;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-items a { 
    color: #ffffff;
    text-decoration: none;
}

.menu-items li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.intro {
    width: 100%;
    height: 100%;
    display: table; 
    background: url('img/earthview.jpg') no-repeat fixed;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    font-size: 5.5em;
    font-weight: 100;
    text-align: center;
    margin: 10% auto;
}

.summary {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

#link-margin {
    width: 100%;
    height: 5%;
}

.summary h2 {
    font-weight: 100;
    font-size: 3em;
    text-align: center;
}

.summary-left {
    display: inline-block;
    vertical-align: top;
    height: 40%;
    width: 35%;
}

.summary-right {
    display: inline-block;
    height: 40%;
    width: 35%;
}

.summary-left p {
    text-transform: none;
    display: table-cell;
    vertical-align: middle;
    margin: auto auto;
    font-size: 1.25em;
    width: 400px;
    height: 400px;
}

#profile-pic {
    display: inline-block;
    max-width: 400px;
    max-height: 400px;
    max-width: 100%
}

.contact {
    display: table; 
    background: url('img/goldengate.jpg') no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
}

.contact h2 {
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 200;
    
}

.contact-img {
    margin: 20px;
    padding: 20px;
    height: 90px;
    width: 90px;
    border-radius: 10px;
    max-width: 100%
}

.contact-img:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Remove blue and purple link underline */
a:-webkit-any-link{
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}

a:focus { 
    text-decoration: none; 
}


