body {
    display: table;
    background: url('img/photo4.jpg') no-repeat fixed;
    background-size: 100% 100%;
    width: 100%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 100px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    /*border: 2px solid #FFFFFF;*/
    max-width: 1000px;
    margin: 5% auto;
    padding-bottom:1000px;

}

.heading {
    vertical-align: middle;
    width: 100%;
}

